Grab latest experimental install yaml for gateway api and place it in the templates directory. This will be used by the istio chart to install the gateway api CRDs.
```bash
curl -L -o ./templates/gateway-api-experimental-install.yaml https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.5.1/experimental-install.yaml
```